
/*@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap");*/

:root {
  --cor-background: #f7f8fa;
  --cor-branco: #362207;
  /*--cor-texto: #241a52;*/
  --cor-texto: #c49b63;
  --cor-texto-fraco: #c4bfd4;
  --cor-borda-input-desabilitado: #f2f1f6;
  --cor-roxo-puro: #FF6000;
  --cor-placeholder: #837dff;
  --cor-linear-1: #8dacff;
  --cor-linear-2: #7c5dff;
  --cor-background-desfocado: rgba(255, 255, 255, 0.15);
  --cor-shadow-desfocado: rgba(0, 0, 0, 0.1);
  --cor-borda-desfocado: rgba(255, 255, 255, 0.2);
}

.form {
  /*font-family: sans-serif;*/
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: url("https://img.freepik.com/free-vector/realistic-coffee-background-with-drawings_79603-607.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}
main.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 900px;
  background-color: black;
  /*background-color: #51391f;*/
  column-gap: 20px;
  padding: 2rem 3rem;
  border-radius: 30px;
  opacity: 0.94;
}

main.card section.esquerda .imagem__logo {
  width: 100%;
  margin-bottom: 0.5rem;
}

main.card section.esquerda h3.titulo__login {
  font-weight: 800;
  font-size: 2.3rem;
  color: #c49b63;
  margin-bottom: 40px;
}

main.card section.esquerda span.subtitulo {
  font-size: 0.9rem;
  color: var(--cor-texto-fraco);
  margin: 1rem 0;
  display: inline-block;
}

main.card section.esquerda form .caixa__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

main.card section.esquerda form .caixa__input label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  color: #c49b63;
}

main.card section.esquerda form .caixa__input h5 {
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 500;
  color: #c49b63;
}

main.card section.esquerda form .caixa__input label::after {
  content: "*";
  color: var(--cor-roxo-puro);
}

main.card section.esquerda form .caixa__input p {
  padding-left: 5px;
  font-size: 1.1rem;
  color: #FF6000;
  margin-bottom: 0;
}

main.card section.esquerda form .caixa__input input {
  /*color: var(--cor-texto);*/
  /*border-radius: 30px;*/
  height: 50px;
  padding-left: 10px;
  outline: none;
  /*border: 2px solid transparent;*/
  /*background-image: linear-gradient(var(--cor-branco), var(--cor-branco)),*/
  /*  linear-gradient(*/
  /*    to right,*/
  /*    var(--cor-borda-input-desabilitado),*/
  /*    var(--cor-borda-input-desabilitado)*/
  /*  );*/
  /*background-origin: border-box;*/
  /*background-clip: padding-box, border-box;*/
  /*caret-color: var(--cor-linear-1);*/
  border-radius: 10px;
  background-color: #EBEBE3;
  margin: 3px 0;
  /*border: 2px solid rgba(255, 255, 255, 0.185);*/
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
  color: rgb(109, 103, 103);
}

main.card section.esquerda form .caixa__input input:focus {
  background-color: #FFEFE0;
}

main.card section.esquerda .controle__salvamento {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

main.card section.esquerda .controle__salvamento .checkbox-circle2 input[type="checkbox"]{
  display: none;
}

main.card section.esquerda .controle__salvamento .checkbox-circle2 input[type="checkbox"] + label{
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 20px;
  font: 16px/20px sans-serif;
  cursor: pointer;
  font-weight: 500;
  background-color: #c49b63;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

main.card section.esquerda .controle__salvamento .checkbox-circle2 input[type="checkbox"] + label:hover{
  background-color: #FE6244;
}

main.card section.esquerda .controle__salvamento .checkbox-circle2 input[type="checkbox"] + label:hover + label:before{
  border: 1px solid #343a3f;
  box-shadow: 2px 1px 0 #343a3f;
}

.checkbox-circle2 input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}
.checkbox-circle2 input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #343a3f;
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: #f3f3f3;
  box-shadow: -2px -1px 0 #c49b63;
}
.checkbox-circle2 input[type="checkbox"]:checked + label:before {
  border-radius: 1em;
  border: 2px solid #fff;
  width: 1.15em;
  height: 1.15em;
  background: #c49b63;
  box-shadow: 2px 1px 0 #c49b63;
}

main.card section.esquerda .controle__salvamento a.esqueceu__senha {
  font: 16px/20px sans-serif;
  cursor: pointer;
  font-weight: 500;
  /*background: linear-gradient(*/
  /*  to right,*/
  /*  var(--cor-linear-1),*/
  /*  var(--cor-linear-2)*/
  background-color: #c49b63;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.card section.esquerda .controle__salvamento a.esqueceu__senha:hover {
  font: 16px/20px sans-serif;
  cursor: pointer;
  font-weight: 500;
  /*background: linear-gradient(*/
  /*  to right,*/
  /*  var(--cor-linear-1),*/
  /*  var(--cor-linear-2)*/
  background-color: #FE6244;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.card section.esquerda .controle__acesso {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

main.card section.esquerda .controle__acesso button {
  border-radius: 30px;
  height: 43px;
  margin-bottom: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

main.card section.esquerda .controle__acesso button[type="submit"] {
  background: #c49b63;
  color: var(--cor-branco);
  font-size: 20px;
}

main.card section.esquerda .controle__acesso button[type="submit"]:hover {
  background: #165216;
  color: #F3F6C8;
  font-size: 20px;
}

main.card section.esquerda .controle__acesso button[type="button"] {
  background: #562B08;
  color: #c49b63;
  font-size: 20px;
}

main.card section.esquerda .controle__acesso button[type="button"]:hover {
  background: #FE6244;
  color: #F3F6C8;
  font-size: 20px;
}

/*main.card section.esquerda .controle__acesso button.botao__registrar {*/
/*  !*border: 2px solid transparent;*!*/
/*  !*background-image: linear-gradient(var(--cor-branco), var(--cor-branco)),*!*/
/*  !*  linear-gradient(to right, var(--cor-linear-1), var(--cor-linear-2));*!*/
/*  background: #AD8E70;*/
/*  !*background-origin: border-box;*!*/
/*  !*background-clip: padding-box, border-box;*!*/
/*  !*color: var(--cor-branco);*!*/
/*}*/

/*main.card.section.esquerda.controle__acessobutton.botao__registrar.botao__registrar--texto {*/
/*    background: linear-gradient(*/
/*            to right,*/
/*            var(--cor-linear-1),*/
/*            var(--cor-linear-2)*/
/*    );*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

main.card section.esquerda .separador {
  display: grid;
  grid-template-columns: 0.6fr 1.5fr 0.6fr;
  align-items: center;
  text-align: center;
  margin: 0.8rem 0;
}

main.card section.esquerda .separador span:nth-child(1),
main.card section.esquerda .separador span:nth-child(3) {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--cor-texto-fraco);
}

main.card section.esquerda .separador span:nth-child(2) {
  color: var(--cor-texto-fraco);
  font-size: 0.9rem;
}

main.card section.esquerda .controle__login_social {
  display: flex;
  flex-direction: column;
}

main.card section.esquerda .controle__login_social a {
  border: 1px solid var(--cor-texto-fraco);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.8rem 0;
  border-radius: 30px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--cor-texto);
}

main.card section.esquerda .controle__login_social a img {
  width: 18px;
  margin-right: 0.5rem;
}

/*main.card section.direita .background__imagem {*/
/*  background: linear-gradient(*/
/*    to right,*/
/*    var(--cor-linear-1),*/
/*    var(--cor-linear-2)*/
/*  );*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  min-width: 360px;*/
/*  border-radius: 20px;*/
/*  position: relative;*/
/*}*/

/*main.card section.direita .background__imagem .detalhe__vidro {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  z-index: 1;*/
/*}*/

/*main.card section.direita .background__imagem .detalhe__vidro--interno {*/
/*  background-color: var(--cor-background-desfocado);*/
/*  border-radius: 6px;*/
/*  box-shadow: 0 4px 30px var(--cor-shadow-desfocado);*/
/*  backdrop-filter: blur(9px);*/
/*  -webkit-backdrop-filter: blur(9px);*/
/*  border: 1px solid var(--cor-borda-desfocado);*/
/*  padding: 15px;*/
/*}*/
main.card section.direita .background__imagem {
  margin-top: 50px;
}

main.card section.direita .background__imagem img {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right: -10px;*/
  margin-left: 20px;
  max-width: 100%;
  border-radius: 5%;
}

@media screen and (max-width: 800px) {
  main.card {
    grid-template-columns: 1fr;
  }

  main.card section.direita .background__imagem {
    height: 150px;
    margin-bottom: 2rem;
  }

  main.card section.direita .background__imagem img {
    height: 130px;
  }
}

@media screen and (max-width: 480px) {
  html,
  body {
    height: unset;
  }

  main.card {
    padding: 2rem 1rem;
  }
}
