<div class="form" style="margin-top: 5em">
  <div *ngIf="isSendMail then sent else notSent"></div>
  <ng-template #sent>
    <div *ngIf="isSuccessful then accepted else denined"></div>

    <ng-template #accepted>
      <main class="card">
        <section class="esquerda">
          <h3 class="titulo__login">Đặt lại mật khẩu</h3>
          <form [formGroup]="verifyChangePasswordForm" (ngSubmit)="submit()">
            <section class="caixa__input">
              <label>Mật khẩu mới</label>
              <input type="password" formControlName="newPassword"/>
              <div *ngFor="let validation of validationMessage.repeatPassword">
                <p
                  *ngIf="verifyChangePasswordForm.get('newPassword').hasError(validation.type) && verifyChangePasswordForm.get('newPassword').touched">
                  {{validation.message}}
                </p>
              </div>
            </section>
            <section class="caixa__input">
              <label>Nhập lại mật khẩu mới</label>
              <input type="password" formControlName="repeatPassword"/>
              <div *ngFor="let validation of validationMessage.repeatPassword">
                <p
                  *ngIf="verifyChangePasswordForm.get('repeatPassword').hasError(validation.type) && verifyChangePasswordForm.get('repeatPassword').touched">
                  {{validation.message}}
                </p>
              </div>
            </section>

            <section class="controle__acesso">
              <button type="submit">Cài lại mật khẩu</button>
              <button type="button" routerLink="/verify-change-password">Hủy</button>
            </section>
          </form>
        </section>
        <section class="direita">
          <div class="background__imagem">
            <img src="./assets/Mookup/White%20Simple%20Trendy%20Coffee%20Line%20Art%20Logo%20(1).png">
          </div>
        </section>
      </main>
    </ng-template>

    <ng-template #denined>
      <main class="card1">
        <section class="esquerda">
          <h3 class="titulo__login">Đặt lại mật khẩu</h3>
          <div class="alert alert-danger" role="alert">
            <h4> Có lỗi xảy ra: Đường dần xác thực không đúng hoặc mã xác thực hết hạn, vui lòng kiểm tra lại hoặc liên hệ bộ phận hỗ trợ để được giúp đỡ.</h4>
          </div>
        </section>
      </main>
    </ng-template>
  </ng-template>
  <ng-template #notSent>
    <main class="card1">
      <section class="esquerda">
        <h3 class="titulo__login">Đặt lại mật khẩu</h3>
        <div class="box" role="alert">
          <ul>
            <li>Bạn cần sử dụng đường dẫn xác thực chúng tôi đã gửi cho bạn!</li>
            <li>Một email đã được gửi tới địa chỉ Email của bạn, hãy truy cập thư cá nhân và nhấn vào đường dẫn xác thực
            </li>
            <li><span><b>Lưu ý:</b></span> nếu không tìm thấy hãy tìm trong mục <span> <b>Thư rác / Spam</b></span></li>
          </ul>
        </div>
      </section>
    </main>
  </ng-template>
</div>
