<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4 col-md-4 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h3>A0622I1 COFFEE</h3>
          <hr>
          <img src="assets/img/White%20Simple%20Trendy%20Coffee%20Line%20Art%20Logo%20(1).png"
               style="max-width: 200px; height: auto;">
          <p>Đến với quán coffee của chúng tôi bạn sẽ thưởng thức được hương vị cafe nguyên chất nhất, với sự phục vụ
            lịch thiệp và chu đáo nhất</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <h3>Kết nối</h3>
        <hr>
        <ul>
          <li><span class="icon"><a href="#"> <i class="fab fa-facebook-f text-primary"></i> facebook </a></span></li>
          <li><span class="icon"><a href="#"> <i class="fab fa-youtube" style="color: red"></i> youtube </a></span></li>
          <li><span class="icon"><a href="#"> <i class="fab fa-instagram" style="color: #d71ad7"></i> instagram </a></span></li>
          <li><span class="icon"><a href="#"> <i class="fab fa-tiktok" style="color: #7abaff"></i> tiktok </a></span>
          </li>
        </ul>
      </div>


      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <h3>Thông Tin Liên Lạc</h3>
        <hr>
        <div class="block-23 mb-3">
          <ul>
            <li><span class="icon"><i class="fas fa-map-marker-alt"></i></span><span
              class="text">Đà Nẵng, Việt Nam</span></li>
            <li><span class="icon"><i class="fas fa-phone"></i></span><span class="text">+84 987654321</span></li>
            <li><span class="icon"><i class="fas fa-envelope"></i></span><span class="text">a0622i1@gmail.com</span>
            </li>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.2065613860323!2d108.22985177591445!3d16.05476733982335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219a486b7f699%3A0xae6269b629a63e82!2zQ29kZUd5bSDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1687158254428!5m2!1svi!2s"
              width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
