/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

#image-preview {
  margin-top: 1rem;
  display: flex !important;
  flex-wrap: wrap;
  /*justify-content: space-evenly;*/
  background-color: #4e3820;
}

.preview-image {
  position: relative;
  width: 32.5%;
  gap: 1rem;
  display: flex;
  /*justify-content: space-evenly;*/
  height: 10rem;
  margin: 0rem 5px 0 0;
}

.preview-image:last-child {
  margin-right: -10px;
}

.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-image .delete-button {
  position: absolute;
  font-size: 1.2rem;
  padding: 0.3px 6px;
  background-color: #FFFFCC;
  top: 0;
  right: 0;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 1s linear;
}

.preview-image .delete-button:hover {
  background-color: #FF0000;

}

.preview-image.selected {
  border: 2px solid blue;
}

#error-container {
  cursor: pointer;
}

#error-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
