<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"-->
<!--      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>-->
<div class="form" style="margin-top: 5em">
  <main class="card">
    <section class="esquerda"  >
      <h2 class="title">Đổi mật khẩu</h2>
      <form [formGroup]="passwordChangeForm">
        <section class="caixa__input">
          <label for="currentPassword">Mật khẩu hiện tại</label>
          <div class="d-flex">
            <input #currentPass type="password" class="input form-control" placeholder="Nhấn vào để nhập"
                   id="currentPassword" formControlName="currentPassword"/>
            <span class="input-group-text eye" (click)="showPassword(currentPass)">
              <i class="fas fa-eye-slash" style="width: 30px" id="iCurrentPassword"></i>
            </span>
          </div>
          <div  class=" color-error">
            <div class="error-message "
                 *ngIf="passwordChangeForm.controls.currentPassword?.touched && passwordChangeForm.controls.currentPassword?.errors?.required">
              Mật khẩu hiện tại không được trống.
            </div>
            <div class="error-message"
                 *ngIf="passwordChangeForm.controls.currentPassword?.touched && passwordChangeForm.controls.currentPassword?.errors?.invalidLength">
              Mật khẩu từ 6 - 15 ký tự.
            </div>
          </div>
        </section>
        <section class="caixa__input">
          <label for="newPassword">Mật khẩu mới</label>
          <div class="d-flex">
            <input #newPassword type="password" class="input form-control" placeholder="Nhấn vào để nhập"
                   id="newPassword" formControlName="newPassword"/>
            <span class="input-group-text eye" (click)="showNewPassword(newPassword)">
              <i class="fas fa-eye-slash" style="width: 30px" id="iNewPassword"></i>
            </span>
          </div>
          <ng-container *ngIf="! passwordChangeForm.errors?.newPasswordMatch">
            <div class="color-error" *ngFor="let validation of validationMessages.newPassword">
              <div class="error-message"
                   *ngIf="passwordChangeForm.get('newPassword').hasError(validation.type) && (passwordChangeForm.get('newPassword').dirty || passwordChangeForm.get('newPassword').touched)">
                {{validation.message}}
              </div>
            </div>
          </ng-container>

          <div class="color-error">
            <div class="error-message"
                 *ngIf="passwordChangeForm.controls.newPassword?.touched && passwordChangeForm.errors?.newPasswordMatch">
              Mật khẩu mới không được trùng mật khẩu hiện tại.
            </div>
          </div>
        </section>
        <section class="caixa__input">
          <label for="confirmPassword">Nhập lại mật khẩu</label>
          <div class="d-flex">
            <input #confirmPassword type="password" class="input form-control" placeholder="Nhấn vào để nhập"
                   id="confirmPassword" formControlName="confirmPassword"/>
            <span class="input-group-text eye" (click)="showConfirmPassword(confirmPassword)">
              <i class="fas fa-eye-slash" style="width: 30px" id="iConfirmPassword"></i>
            </span>
          </div>
          <div class="color-error" *ngFor="let validation of validationMessages.confirmPassword">
            <div class="error-message"
                 *ngIf="passwordChangeForm.get('confirmPassword').hasError(validation.type) && (passwordChangeForm.get('confirmPassword').dirty || passwordChangeForm.get('confirmPassword').touched)">
              {{validation.message}}
            </div>
            <div class="error-message"
                 *ngIf="passwordChangeForm.controls.confirmPassword?.touched && passwordChangeForm.errors?.passwordNotMatch">
              Không trùng mật khẩu.
            </div>
          </div>

        </section>
      </form>
      <section class="controle__acesso">
        <div class="">
          <div style="display: flex;justify-content: space-evenly">
            <div>
              <a type="button" routerLink="/infor-account"
                 class="btn btn-outline-danger btn-padding-10">Quay lại</a>
            </div>
            <div>
              <!--              <a type="submit" [disabled]="passwordChangeForm.invalid" class="btn btn-outline-success btn-padding-10">Xác nhận</a>-->
              <button type="button" class="btn btn-outline-success btn-submit btn-padding-10" (click)="changPassword()">Xác nhận</button>
            </div>
          </div>
        </div>
      </section>
    </section>
    <section class="direita d-flex align-items-center">
      <div class="background__imagem ">
        <img class="logo" src="../../../../assets/img/logo.png"/>
      </div>
    </section>
  </main>

</div>
